<h2><%= @character.name %></h2>
<% if @character.image.attached? %>
    <%= image_tag @character.image, style: "width: 200px; display: block;" %>
<% end %>
<p>Vie <strong><%= @character.lp %></strong></p>
<p>Attaque <strong><%= @character.attack %></strong></p>