/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html, body {
    height: 100%;
}
body {
    background-image: url("background.jpg");
    background-attachment: fixed;
}
.navbar {
    height: 140px;
    background-image: url("navbar.png");
    background-repeat: no-repeat;
    opacity: 0.9;
}
.flex {
    display: flex;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.green {
    color: green;
}
.red {
    color: red;
}
.white {
    color: white;
}
.h-100 {
    height: 100%;
}
.grid {
    display: grid;
}
.align-center {
    align-items: center;
}
.text-end {
    text-align: end;
}
.margin-1 {
    margin: 1rem;
}
.p-top-140 {
    padding-top: 140px;
}
.btn-fight {
    background-color: #f6a990;
    color: white;
}
.nav-btn {
    position: absolute;
    right: 4rem;
    color: white !important;
    font-size: xx-large;
    background-color: unset !important;
}
.intro-text {
    color: white;
    font-size: initial;
    text-align: center;
}
.create-character {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.webkit-center {
    text-align: -webkit-center;
}