<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LeBarbare</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Le Barbare</h1>
    
    <%= yield %>
  </body>
</html>